.banner {
  position: relative;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-yellow);
  color: var(--color-darkest);
  padding: 15px 0;
  font-size: 1.5rem;

  li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    padding: 0 5px;
    animation-duration: var(--scroll-duration);

    &:not(:last-child)::after {
      content: "+";
      padding-left: 10px;
    }
  }

  .banner-content {
    display: flex;
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
