header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  background: linear-gradient(
    to bottom,
    var(--color-darkest),
    rgba(13, 13, 13, 0.5) 65%,
    transparent
  );
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: var(--ff-primary);
    color: var(--color-white);

    li {
      margin-left: 40px;

      a {
        color: var(--color-white);
        text-decoration: none;
      }
    }
  }
}
