.hover-icons {
  position: absolute;
  top: 100px;
  right: -30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: right 0.5s ease;

  img {
    width: 20px;
  }
}

.hidden-icons {
  right: -30px;
}

.show-icons {
  right: 30px;
}
