.list-pics {
  padding-top: 50px;
  margin-top: 250px;
  margin-left: 125px;
  margin-bottom: 75px;

  h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-yellow);
  }
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 40px;
}

.item-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 24px;
  margin-right: 150px;
  margin-bottom: 60px;
  position: relative;

  img {
    width: 75px;
    height: auto;
  }

  p {
    margin-bottom: 15px;
  }
}


.stars-container {
  position: absolute; /* Absolute Positionierung der Sterne */
  top: 50 px;
  left: 75 px; /* Positioniere die Sterne rechts vom Item */
  display: flex;
  gap: 5px;
}

.star {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.star-full {
  background-image: url("../../data/images/star-full.png");
}

.star-empty {
  background-image: url("../../data/images/star-empty.png");
}

.hidden-icons {
  display: none;
}