.list-pics {
    margin-top: 250px;
    margin-left: 100px;

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: var(--color-yellow);
    }
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.item {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    gap: 20px;


    img {
        height: auto;
        width: 60px;
    }
}