body {
  font-family: var(--ff-primary);
  color: var(--color-white);
  background-color: var(--color-darkest);
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}

.hidden {
  display: none;
}

.highlight-red {
  color: var(--color-red);
}

.highlight-yellow {
  color: var(--color-yellow);
}

.icon {
  font-family: var(--ff-icons);
  font-size: 18px;
}
