@font-face {
    font-family: "Poppins";
    src: url("../data/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("../data/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("../data/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Nanum-Pen-Script";
    src: url("../data/fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf") format("truetype");
}