:root {
  --ff-primary: poppins, sans-serif;
  --ff-secondary: "Nanum Pen Script", sans-serif;
  --ff-icons: material-icons;

  --color-red: #bf1304;
  --color-red-light: #eb2826;
  --color-yellow: #f1b33d;
  --color-white: #fffcf7;
  --color-dark: #404040;
  --color-darkest: #0d0d0d;

  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}
