:root {
  --ff-primary: poppins, sans-serif;
  --ff-secondary: "Nanum Pen Script", sans-serif;
  --ff-icons: material-icons;

  --color-red: #BF1304;
  --color-red-light: #EB2826;
  --color-yellow: #F1B33D;
  --color-white: #FFFCF7;
  --color-dark: #404040;
  --color-darkest: #0D0D0D;

  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}
